@media screen and (max-width: 480px) {
    .main-container {
        width: 100%;
        overflow: scroll;
    }
    .header {
        width: 100%;
        height: 7.3125em;
    }
    .search-wrapper {
        float: none;
        margin-left: 8px;
    }
    .sidebar-left {
        display: none;
    }
    .sidebar-right {
        display: none;
    }
    .left-head {
        width: 80%;
    }
    .right-head {
        float: right;
        width: 20%;
    }
    .logo {
        max-width: 100%;
    }
    .logo-wrapper {
        width: 70%;
    }
    .pages-content {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .entry-tabs {
        background: url("../images/bg.png") no-repeat;
        width: 100%;
        height: 65px;
        border-bottom: 2px solid #2fc1da;
    }
    .entry-lists {
        margin-top: 35px;
    }
    .tab-right {
        float: none;
    }
    .right-nav {
        width: 70%;
    }
    .hide {
        display: none;
    }
    .nav-lists li {
        margin: 0px;
        font-size: 10px;
        padding: 3px;
    }
    .navbar {
        height: 2.81em;
    }
    .right {
        margin-bottom: 14px;
        float: right;
        margin-top: 30px;
        width: 100%;
    }
    .hamburger {
        display: block;
    }
    .hamburger img {
        width: 30px;
        height: 20px;
    }
}