    .main-container {
        width: 100%;
    }
    
    .header {
        background-color: #7DD9E8;
        height: 5.3125em;
    }
    
    .container {
        margin: 0 auto;
        width: 80%;
    }
    
    .left-head {
        float: left;
        width: 36.375em;
    }
    
    .logo-wrapper {
        float: left;
        margin-top: 20px;
    }
    
    .search-wrapper {
        width: 15.375em;
        float: right;
        margin-top: 40px;
        margin-left: 41px;
    }
    
    .right-head {
        width: 9.75em;
        float: right;
    }
    
    .navbar {
        height: 4.81em;
        background-color: #f5f5f5;
    }
    
    .left-nav {
        float: left;
        width: 30.4375em;
    }
    
    .right-nav {
        float: right;
        width: 18.81em;
    }
    
    .sidebar-left {
        width: 12.125rem;
        float: left;
        position: absolute;
    }
    
    .pages-content {
        width: 32.5625em;
        margin: 0 auto;
    }
    
    .sidebar-right {
        width: 12.125rem;
        float: right;
        margin-top: -627px;
    }
    
    .sidebar-menu li:first-child {
        background-color: #2FC1DA;
        color: #FFFF;
        margin-bottom: 0px;
    }
    
    .sidebar-menu {
        background-color: #F5F5F5;
        position: relative;
    }
    
    .sidebar-menu li {
        padding: 16px;
    }
    
    .list-icon {
        float: right;
        height: 12px;
        width: 13px;
        margin-top: -13px;
    }
    
    .hamburger-button {
        background: url(../images/hamburger.png);
        outline: 0px;
        border: none;
        height: 12px;
        width: 13px;
        position: absolute;
    }
    
    .download-button {
        background: url(../images/download.png);
        outline: 0px;
        border: none;
        height: 12px;
        width: 13px;
        position: absolute;
    }
    
    .footer-wrp {
        background: #727272;
    }
    
    .footer-wrp-center {
        margin: 0 auto;
        max-width: 58.625em;
    }