@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        height: 7.3125em;
    }
    .search-wrapper {
        float: none;
        margin-left: 8px;
    }
    .sidebar-left {
        display: none;
    }
    .sidebar-right {
        display: none;
    }
    .left-head {
        width: 80%;
    }
    .right-head {
        float: right;
        width: 20%;
    }
    .logo {
        max-width: 100%;
    }
    .logo-wrapper {
        width: 70%;
    }
    .navbar {
        display: none;
    }
    .pages-content {
        width: 100%;
    }
}