.search-inp {
    height: 20px;
    background-color: #CAEFF5;
    border: 0px;
    width: 14.4375em;
    float: left;
}

.hamburger {
    display: none;
}

.cross-btn {
    float: left;
}

.cross-btn input {
    background: url("../images/cross.png") no-repeat;
    border: none;
    outline: none;
    height: 39px;
    width: 53px;
    font-size: 0px;
    color: #f3f5f2;
    padding: 0;
}

.search-icon {
    float: right;
}

.search-icon input {
    background: url("../images/search.png") no-repeat;
    border: none;
    outline: none;
    height: 3em;
    width: 3.35em;
    font-size: 0px;
    color: #f3f5f2;
}

.username {
    margin-top: 28px;
    font-size: 18px;
    font-weight: bold;
}

.upper-menu {
    margin-top: 2px;
}

.up-menu-list li {
    float: left;
    list-style: none;
    font-size: 16px;
    color: #323232;
}

.nav-lists li {
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    font-weight: bold;
    font-size: 14px;
    color: #323232;
}

.entry-title {
    color: #373737;
    font-size: 30px;
    margin-bottom: 12px;
}

.entry-tabs {
    background: url("../images/entry-bg.png");
    width: 100%;
    height: 65px;
    border-bottom: 2px solid #2fc1da;
}

.tab-section {
    padding: 0 5px;
}

.tab-section span {
    text-align: center;
    padding: 12px 0;
    color: #3e3e3e;
    font-size: 13px;
    margin-left: 88px;
}

.tab-list ul {
    list-style: none;
    margin-top: 5px;
}

.tab-list ul li {
    background: url("../images/tab-bg.png");
    float: left;
    line-height: 28px;
    margin: 0 5px;
    width: 114px;
    text-align: center;
    height: 28px;
}

.tab-list ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #323232;
    display: block;
}

.tab-list ul li:hover {
    background: url("../images/tab-bg-active.png");
}

.tab-list ul li:hover a {
    color: #fff;
}

.tab-list .active {
    background: url("../images/tab-bg-active.png");
}

.tab-list .active a {
    color: #fff;
}


/*entry list style here*/

.entry-lists ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #d8d8d8;
}

.all-member-title a {
    text-decoration: none;
    padding-left: 10px;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: bold;
}

.member-by {
    padding-right: 6px;
    font-size: 11px;
    padding-left: 10px;
    color: #616161;
}

.member-date {
    padding: 0 6px;
    font-size: 11px;
    color: #616161;
    border-left: 1px solid #888888;
}

.member-by a {
    text-decoration: none;
    color: #51aebf;
    font-weight: bold;
}

.subscribed {
    padding: 0 6px;
    border-left: 1px solid #888888;
    color: #70961d;
    font-size: 11px;
    font-weight: bold;
}

.from-topic-box {
    padding-left: 10px;
    font-size: 11px;
    color: #616161;
}

.from-topic-box a {
    text-decoration: none;
    color: #51aebf;
    font-weight: bold;
}

.new-alert {
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    color: #309db1;
}

.new-alert a {
    text-decoration: none;
    color: #309db1;
}

.new-alert.invite a {
    color: #d54020;
}

.footer-left {
    float: left;
}

.footer-left ul {
    list-style: none;
}

.footer-left ul li {
    float: left;
    font-size: 9px;
    line-height: 45px;
    color: #d4d4d4;
    padding-left: 10px;
    padding-right: 8px;
    background: url("../images/footer-list.png") 0 50% no-repeat;
}

.footer-left ul li:first-child {
    background: none;
    padding-left: 0px;
}

.footer-left ul li a {
    text-decoration: none;
    color: #d4d4d4;
}

.footer-right {
    float: right;
    line-height: 45px;
    color: #d4d4d4;
    font-size: 9px;
    padding: 0 6px;
}